@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar{
  width: min(90%, 1280px);
}
.section-hero{
  width: min(90%, 1280px);
  margin-inline: auto;
}
.bg_about{
  background: url('../src/assets/pipe_line.png') no-repeat center center/cover;
}
.article_nice{
  width: min(90%);
  margin-inline: auto;
}
.div_nice{
  width: min(90%);
  margin-inline: auto;
}
.section_entrainement{
  width: min(95%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}
.reverse{
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  direction: rtl;
}
.partenaire_nice{
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
.img_partenaire{
  max-width: 100%;
  height: 30dvh;
  display: block;
}
.image_kaly{
  max-width: 100%;
  height: 60dvh;
  display: block;
}
.services{
  width: min(90%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}
.coach{
  max-width: 100%;
  display: block;
  height: 35dvh;
}
.div_footer{
  width: min(90%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}
.resize{
  resize: none;
}